{#{% extends 'base.html.twig' %}#}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
            Connexion
        {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>


{#{% block title %}Log in!{% endblock %}#}

{% block body %}

    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo">
{#                                        <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>#}
                                    </div>

                                    <form method="post">
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}

                                        {% if app.user %}
                                            <div class="mb-3">
                                                You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                                            </div>
                                        {% endif %}

                                        <h1 class="h3 mb-3 font-weight-normal mt-5">Merci de vous authentifier !</h1>
                                        <label for="inputEmail">Email</label>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-2" autocomplete="email" required autofocus>
                                        <label for="inputPassword" class="mt-4">Password</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control mt-2" autocomplete="current-password" required>

                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}"
                                        >


{#                                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#                                        See https://symfony.com/doc/current/security/remember_me.html#}

{#                                        <div class="checkbox mb-3">#}
{#                                            <label>#}
{#                                                <input type="checkbox" name="_remember_me"> Remember me#}
{#                                            </label>#}
{#                                        </div>#}


                                        <button class="btn btn-lg btn-primary mt-4" type="submit">
                                            Se connecter
                                        </button>
                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">Bienvevue sur Catalogue</h4>
                                    <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <div class="col-6" style="background: #B0413E">#}

{#            </div>#}

{#            <div class="col-6">#}
{#                <form method="post">#}
{#                    {% if error %}#}
{#                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#                    {% endif %}#}

{#                    {% if app.user %}#}
{#                        <div class="mb-3">#}
{#                            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#                        </div>#}
{#                    {% endif %}#}

{#                    <h1 class="h3 mb-3 font-weight-normal mt-5">Merci de vous authentifier !</h1>#}
{#                    <label for="inputEmail">Email</label>#}
{#                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-2" autocomplete="email" required autofocus>#}
{#                    <label for="inputPassword" class="mt-4">Password</label>#}
{#                    <input type="password" name="password" id="inputPassword" class="form-control mt-2" autocomplete="current-password" required>#}

{#                    <input type="hidden" name="_csrf_token"#}
{#                           value="{{ csrf_token('authenticate') }}"#}
{#                    >#}

{#                    #}
{#                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#                    See https://symfony.com/doc/current/security/remember_me.html#}

{#                    <div class="checkbox mb-3">#}
{#                        <label>#}
{#                            <input type="checkbox" name="_remember_me"> Remember me#}
{#                        </label>#}
{#                    </div>#}
{#                    #}

{#                    <button class="btn btn-lg btn-primary mt-4" type="submit">#}
{#                        Se connecter#}
{#                    </button>#}
{#                </form>#}
{#            </div>#}

{#        </div>#}


{#    </div>#}

{% endblock %}

</html>