{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div>
        <a class="btn btn-success" href="{{ path('app_produit_new') }}">Ajouter un nouveau produit</a>
    </div>


    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Libellé</th>
                <th scope="col">Description</th>
                <th scope="col">Prix</th>
                <th scope="col">Catégorie</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <th scope="row">{{ produit.id }}</th>
                    <td>{{ produit.libelle }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.prix }}</td>
                    <td>{{ produit.categorie }}</td>
                    <td>
                        <a href="#" class="btn btn-danger">Supprimer</a>
                        <a href="#" class="btn btn-success">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    Aucun produit disponible
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
