<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Accueil
            {% endblock %}
            | Catalogue
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}


    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: deeppink">
                <div class="container">
                    <a class="navbar-brand text-white" href="{{ path('dashboard') }}"><i class="bi bi-book"></i>  CATALOGUE</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" href="{{ path('categorie1_index') }}">Catégorie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white" href="{{ path('produit1_index') }}">Produit</a>
                            </li>


                            {% for role in app.user.roles %}
                                {% if role == 'ROLE_ADMIN' %}
                                    <li class="nav-item">
                                        <a class="nav-link active text-white" href="{{ path('app_users') }}" tabindex="-1" aria-disabled="false">Utilisateur</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>

                        <ul class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{app.user.email}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDr/opdown">
                                <li><a class="dropdown-item" href="{{ path('profile') }}">Profil</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                            </ul>
                        </ul>

                    </div>
                </div>
            </nav>
        </header>


        {% block body %}

        {% endblock %}


{#        <!-- Button trigger modal -->#}
{#        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">#}
{#            Launch demo modal#}
{#        </button>#}

{#        <!-- Modal -->#}
{#        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
{#            <div class="modal-dialog modal-dialog-centered" role="document">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                            <span aria-hidden="true">&times;</span>#}
{#                        </button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        ...#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                        <button type="button" class="btn btn-primary">Save changes</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </body>




</html>
